{% extends 'base.html' %}
{% block title %}Русская баня{% endblock %}
{% load static %}
{% block content %}
<!-- BEGIN .sohohotel-page-header -->
    <div class="sohohotel-page-header sohohotel-page-header-2">

      <h1>Русская баня на дровах</h1>

      <!-- END .sohohotel-page-header -->
    </div>

    <!-- BEGIN .sohohotel-content-wrapper -->
    <div class="sohohotel-content-wrapper sohohotel-clearfix sohohotel-content-wrapper-full-width">

      <!-- BEGIN .sohohotel-main-content -->
      <div class="sohohotel-main-content sohohotel-main-content-full-width">

        <div class="vc_row wpb_row vc_row-fluid">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div class="wpb_single_image wpb_content_element vc_align_left">

                  <figure class="wpb_wrapper vc_figure">
                    <div class="vc_single_image-wrapper   vc_box_border_grey">
                      <img class="vc_single_image-img "
                        src="{% static 'images/house1_1-600x380.jpeg' %}"
                        width="990" height="500" alt="IMG_0269 (1)" title="IMG_0269 (1)" />
                    </div>
                  </figure>
                </div>

                <div class="wpb_text_column wpb_content_element ">
                  <div class="wpb_wrapper">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="vc_row wpb_row vc_row-fluid">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div class="wpb_text_column wpb_content_element ">
                  <div class="wpb_wrapper">
                    <pre>Гостям загородного комплекса «Villa23» мы предлагаем посетить настоящую русскую дровяную баню. Всем известно, что благодаря бане можно максимально быстро восстановить силы и оказать неоценимую услугу вашему организму. Доказано, что люди, которые регулярно посещают баню меньше подвержены простудным и вирусным заболеваниям. Ну а то, что посещение бани гарантирует вам хорошее настроение и заряд энергии - известно абсолютно каждому! Мы советуем завершить банные процедуры, окунувшись в наш теплый бассейн под открытым небом. А после продолжить вечер приятными беседами с близкими людьми за чашечкой ароматного травяного чая. Баня «Villa23» - прекрасный вариант проведения выходного дня.</pre>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id='gallery-1' class='gallery galleryid-460 gallery-columns-2 gallery-size-thumbnail'>
          <div class='gallery-item'>
            <div class='gallery-icon'>
              <a href="{% static 'images/house1_2.jpeg' %}" data-gal="prettyPhoto[gallery-1]">
                <img src="{% static 'images/house1_2.jpeg' %}" alt="" />
              </a>
            </div>
          </div>
          <div class='gallery-item'>
            <div class='gallery-icon'>
              <a href="{% static 'images/house1_3.jpeg' %}" data-gal="prettyPhoto[gallery-1]">
                <img src="{% static 'images/house1_3.jpeg' %}" alt="" />
              </a>
            </div>
          </div>
          <div class='gallery-item'>
            <div class='gallery-icon'>
              <a href="{% static 'images/house1_4.jpeg' %}" data-gal="prettyPhoto[gallery-1]">
                <img src="{% static 'images/house1_4.jpeg' %}" alt="" />
              </a>
            </div>
          </div>
          <div class='gallery-item'>
            <div class='gallery-icon'>
              <a href="{% static 'images/house1_9.jpeg' %}" data-gal="prettyPhoto[gallery-1]">
                <img src="{% static 'images/house1_9.jpeg' %}" alt="" />
              </a>
            </div>
          </div>
          <div class='gallery-item'>
            <div class='gallery-icon'>
              <a href="{% static 'images/house1_5.jpeg' %}" data-gal="prettyPhoto[gallery-1]">
                <img src="{% static 'images/house1_5.jpeg' %}" alt="" />
              </a>
            </div>
          </div>
          <div class='gallery-item'>
            <div class='gallery-icon'>
              <a href="{% static 'images/house1_6.jpeg' %}" data-gal="prettyPhoto[gallery-1]">
                <img src="{% static 'images/house1_6.jpeg' %}" alt="" />
              </a>
            </div>
          </div>
          <div class='gallery-item'>
            <div class='gallery-icon'>
              <a href="{% static 'images/house1_7.jpeg' %}" data-gal="prettyPhoto[gallery-1]">
                <img src="{% static 'images/house1_7.jpeg' %}" alt="" />
              </a>
            </div>
          </div>
          <div class='gallery-item'>
            <div class='gallery-icon'>
              <a href="{% static 'images/house1_8.jpeg' %}" data-gal="prettyPhoto[gallery-1]">
                <img src="{% static 'images/house1_8.jpeg' %}" alt="" />
              </a>
            </div>
          </div>
          <br style='clear: both;' />
        </div>

        <p>&nbsp;</p>

        <!-- END .sohohotel-main-content -->
      </div>

      <!-- END .sohohotel-content-wrapper -->
    </div>
{% endblock %}