{% extends 'base.html' %}
{% block title %}События{% endblock %}
{% load static %}
{% block content %}
<!-- BEGIN .sohohotel-page-header -->
    <div class="sohohotel-page-header sohohotel-page-header-2">

      <h1>Event day</h1>

      <!-- END .sohohotel-page-header -->
    </div>

    <!-- BEGIN .sohohotel-content-wrapper -->
    <div class="sohohotel-content-wrapper sohohotel-clearfix sohohotel-content-wrapper-right-sidebar">

      <!-- BEGIN .sohohotel-main-content -->
      <div class="sohohotel-main-content sohohotel-main-content-right-sidebar">

        <div class="vc_empty_space" style="height: 15px">
          <span class="vc_empty_space_inner"></span>
        </div>
        <div class="vc_row wpb_row vc_row-fluid">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div class="sohohotel-title3 sohohotel-title-color">
                  <h4>Проведения мероприятий</h4>
                </div>
                <div class="wpb_text_column wpb_content_element ">
                  <div class="wpb_wrapper">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id='gallery-1' class='gallery galleryid-467 gallery-columns-3 gallery-size-thumbnail'>
          {% for photo in pavilion_photos %}
          <div class='gallery-item'>
            <div class='gallery-icon'>
              <a href="{% static 'images/'|add:photo %}"
                data-gal="prettyPhoto[gallery-1]" title="0Z2A7723">
                <img src="{% static 'images/'|add:photo %}" alt="{{ photo }}" />
              </a>
            </div>
          </div>
          {% endfor %}
          <br style='clear: both;' />
        </div>

        <!-- END .sohohotel-main-content -->
      </div>

        <div id="rev-slider-widget-2"
          class="sohohotel-widget sohohotel-widget-wrapper sohohotel-clearfix widget_revslider">
          <div class="sohohotel-title-block"></div>
        </div>
        <!-- END .sohohotel-sidebar-content -->
      </div>

      <!-- END .sohohotel-content-wrapper -->
    </div>
{% endblock %}