{% load static %}
<footer class="sohohotel-footer-wrapper">

      <!-- BEGIN .sohohotel-footer -->
      <div class="sohohotel-footer sohohotel-footer-3-col sohohotel-clearfix">

        <div id="sohohotel_social_about_widget-1"
          class="sohohotel-widget sohohotel-widget-wrapper sohohotel-clearfix widget_sohohotel_social_about_widget">
          <h5>Villa 23</h5>
          <div class="sohohotel-footer-social-icons-wrapper">

            <p>загородный комплекс в Подстепках</p>
            <a target="_blank" href="https://instagram.com/tlt.villa23?igshid=561j7fglthn9">
              <i class="fa fa-instagram"></i>
            </a>
          </div>

        </div>
        <div id="sohohotel_contact_widget-1"
          class="sohohotel-widget sohohotel-widget-wrapper sohohotel-clearfix widget_sohohotel_contact_widget">
          <ul class="sohohotel-contact-widget">
            <a href="tel:+79371807626"><li class="sohohotel-cell-phone">+7(937)180-76-26</li></a>
            <li class="sohohotel-email">dimaabdulaev@yandex.ru</li>
          </ul>

        </div>
        <div id="newsletterwidget-1"
          class="sohohotel-widget sohohotel-widget-wrapper sohohotel-clearfix widget_newsletterwidget">
          <h5>Подписка</h5>
          <p>Вы можете оформить подписку на наши акции и предложения.</p>
          <div class="tnp tnp-widget">
            <form method="post" action="https://hotels.podstepki.ru/?na=s">

              <input type="hidden" name="nr" value="widget">
              <input type="hidden" name="nlang" value="">
              <div class="tnp-field tnp-field-email">
                <label for="tnp-1">Email</label>
                <input class="tnp-email" type="email" name="ne" id="tnp-1" value="" required>
              </div>
              <div class="tnp-field tnp-field-button">
                <input class="tnp-submit" type="submit" value="Subscribe">
              </div>
            </form>
          </div>
        </div>
        <!-- END .sohohotel-footer -->
      </div>

      <!-- BEGIN .sohohotel-footer-bottom-wrapper -->
      <div class="sohohotel-footer-bottom-wrapper">

        <!-- BEGIN .sohohotel-footer-bottom -->
        <div class="sohohotel-footer-bottom sohohotel-clearfix">

          <p>&copy;<script>document.write(new Date().getFullYear());</script> Все права защищены. Villa23 </p> 

          <!-- END .sohohotel-footer-bottom -->
        </div>

        <!-- END .sohohotel-footer-bottom-wrapper -->
      </div>

    <!-- END .sohohotel-footer-wrapper -->
</footer>
</div>