{% extends 'base.html' %}
{% block title %}Загородный отдых в Подстепках{% endblock %}
{% load static %}
{% block content %}
<!-- BEGIN .sohohotel-content-wrapper -->
    <div class="sohohotel-content-wrapper sohohotel-clearfix sohohotel-content-wrapper-unboxed-full-width">

      <!-- BEGIN .sohohotel-main-content -->
      <div class="sohohotel-main-content sohohotel-main-content-unboxed-full-width">

        <div
          class="vc_row wpb_row vc_row-fluid sohohotel-home2-slider-wrapper vc_custom_1618904862501 sohohotel-content-wrapper-vc vc_row-has-fill">
          <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-has-fill">
            <div class="vc_column-inner vc_custom_1607010634743">
              <div class="wpb_wrapper">
                <div class="wpb_revslider_element wpb_content_element">
                  <!-- START Homepage 2 REVOLUTION SLIDER 6.3.1 -->
                  <p class="rs-p-wp-fix"></p>
                  <rs-module-wrap id="rev_slider_3_1_wrapper" data-source="gallery"
                    style="background:transparent;padding:0;">
                    <rs-module id="rev_slider_3_1" style="" data-version="6.3.1">
                      <rs-slides>
                        <rs-slide data-key="rs-5" data-title="Slide" data-anim="ei:d;eo:d;s:600;r:0;t:fade;sl:d;">
                          <img src="{% static 'images/index.jpeg' %}"
                            width="2560" height="1718" data-parallax="off" class="rev-slidebg" data-no-retina>
                          <!---->
                        </rs-slide>
                      </rs-slides>
                    </rs-module>
                    <script type="text/javascript">
                      setREVStartSize({
                        c: 'rev_slider_3_1',
                        rl: [1240, 1024, 778, 480],
                        el: [680, 485, 660, 520],
                        gw: [1920, 1920, 778, 480],
                        gh: [680, 485, 660, 520],
                        type: 'standard',
                        justify: '',
                        layout: 'fullscreen',
                        offsetContainer: '',
                        offset: '',
                        mh: "0"
                      });
                      var revapi3,
                        tpj;
                      function revinit_revslider31() {
                        jQuery(function () {
                          tpj = jQuery;
                          revapi3 = tpj("#rev_slider_3_1");
                          if (revapi3 == undefined || revapi3.revolution == undefined) {
                            revslider_showDoubleJqueryError("rev_slider_3_1");
                          } else {
                            revapi3.revolution({
                              sliderLayout: "fullscreen",
                              visibilityLevels: "1240,1024,778,480",
                              gridwidth: "1920,1920,778,480",
                              gridheight: "680,485,660,520",
                              spinner: "spinner0",
                              perspective: 600,
                              perspectiveType: "local",
                              editorheight: "680,485,660,520",
                              responsiveLevels: "1240,1024,778,480",
                              progressBar: {
                                disableProgressBar: true
                              },
                              navigation: {
                                mouseScrollNavigation: false,
                                wheelCallDelay: 1000,
                                onHoverStop: false,
                                touch: {
                                  touchenabled: true
                                }
                              },
                              parallax: {
                                levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 46, 47, 48, 49, 50, 51, 55],
                                type: "mouse",
                                disable_onmobile: true
                              },
                              scrolleffect: {
                                set: true,
                                fade: true,
                                multiplicator: 1.3,
                                multiplicator_layers: 1.3,
                                disable_onmobile: true
                              },
                              fallbacks: {
                                allowHTML5AutoPlayOnAndroid: true
                              },
                            });
                          }

                        });
                      } // End of RevInitScript
                      var once_revslider31 = false;
                      if (document.readyState === "loading") {
                        document.addEventListener('readystatechange', function () {
                          if ((document.readyState === "interactive" || document.readyState === "complete") && !once_revslider31) {
                            once_revslider31 = true;
                            revinit_revslider31();
                          }
                        });
                      } else {
                        once_revslider31 = true;
                        revinit_revslider31();
                      }
                    </script>
                    <script>
                      var htmlDivCss = unescape(".sohohotel-revolution-slider-left-align-slide.rs-parallax-wrap.tp-parallax-container%20%7B%0A%20%20%20%20width%3A%201140px%20%21important%3B%0A%20%20%20%20margin%3A%200%20auto%20%21important%3B%0A%20%20%20%20position%3A%20relative%20%21important%3B%0A%20%20%20%20max-width%3A%20calc%28100%25%20-%2030px%29%20%21important%3B%0A%7D");
                      var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
                      if (htmlDiv) {
                        htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
                      } else {
                        var htmlDiv = document.createElement('div');
                        htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
                        document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
                      }
                    </script>
                  </rs-module-wrap>
                  <!-- END REVOLUTION SLIDER -->
                </div>
            </div>
          </div>
        </div>
        <div class="vc_row wpb_row vc_row-fluid vc_custom_1538037034701 sohohotel-content-wrapper-vc">
          <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-0">
            <div class="vc_column-inner vc_custom_1609220285333">
              <div class="wpb_wrapper">
                <div class="sohohotel-title2 sohohotel-title-color">
                  <h3>Загородный отдых в гостиничном комплексе Villa23 в Тольятти</h3>
                </div>

                <!-- BEGIN .accommodation-block-wrapper -->
                <div class="accommodation-block-wrapper accommodation-1-cols shb-clearfix">
                    
                  <!-- BEGIN .accommodation-block -->
                  <div class="accommodation-block shb-clearfix">
                    {% for room in rooms %}
                    <div class="accommodation-block-image">
                      <a href="{{ room.get_absolute_url }}"
                        rel="bookmark" title="{{ room.title }}">
                        <img src="{{ room.image.url }}"
                          alt="{{ room.title }}" />
                      </a>
                    </div>

                    <div class="accommodation-block-content">
                      <h4>
                        <a href="{{ room.get_absolute_url }}"
                          rel="bookmark" title="{{ room.title }}">{{ room.title }}</a>
                      </h4>
                      <div class="title-block-2"></div>

                      <ul>
                        {% for line in room.description.splitlines %}
                            <li><span>{{ line }}</span></li>
                        {% endfor %}
                      </ul>
                      <div class="shb-clearfix">
                        <a href="{{ room.get_absolute_url }}"
                          class="price-button">от {{ room.price }}₽ за ночь</a><br>
                        <a href="{{ room.get_absolute_url }}"
                          class="view-details-button">
                          Подробнее
                          <i class="fa fa-angle-right"></i>
                        </a>
                        <a style="margin-top: 5px !important" href="{% url 'booking:create_booking' room_id=room.id %}"
                          class="price-button">
                            Проверить наличие свободных мест
                        </a>
                      </div>
                    {% endfor %}
                    </div>

                    <!-- END .accommodation-block -->
                  </div>

                  <!-- END .accommodation-block-wrapper -->
                </div>

                <div class="wpb_text_column wpb_content_element ">
                  <div class="wpb_wrapper">
                    <p>
                      Гостиничный комплекс в с. Подстепки c открытым подогреваемым бассейном, баней, апартаментами и
                      отдельным помещением под банкеты.
                      <span class="Apple-converted-space"></span>
                      Территория нашей гостиницы продумана так, чтобы все локации находились недалеко друг от друга, но,
                      в то же время, являлись самостоятельными разделенными зонами для отдыха. Мы с особым вниманием
                      относимся к ландшафту, каждый элемент и растение результат ежедневной и кропотливой работы всей
                      команды. Вы не увидите ни одной лишней детали.
                      <span class="Apple-converted-space"></span>
                      Бассейн Villa23 подогревается и работает круглый год. Летом вы можете уединиться и провести время
                      под зонтиком на шезлонге, а зимой искупаться после посещения нашего банного комплекса.
                      <span class="Apple-converted-space"></span>
                      В отеле комплекса можно комфортно разместиться в отдельныхдвухэтажных апартаментах, оформленных по
                      последним тенденциямв мире дизайна интерьеров: плавность линий, мягкость тонов, спокойные
                      натуральные оттенки, много света и воздуха. Мы все продумали до мелочей, чтобы вы чувствовали
                      абсолютный комфорт и заботу. Наш банкетный зал позволяет разместить до 25 человек. На открытых
                      площадках можно провести фуршет или вы можете арендовать всю виллу под индивидуальное мероприятие
                      <span class="Apple-converted-space"></span>
                      Комплекс работает круглогодично, круглосуточно и без выходных. Мы понимаем, что желание отдохнуть
                      может возникнуть внезапно, или вы остановитесь у нас проездом после долгой дороги — мы готовы вас
                      встретить в любое время.
                      <span class="Apple-converted-space"></span>
                      Villa23 – загородных отдых в Подстепках, где вы сможете забыть о делах и посвятить время
                      загородному отдыху.
                    </p>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper"></div>
            </div>
          </div>
        </div>
        <div class="vc_row wpb_row vc_row-fluid vc_custom_1538037135512">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <section class="sohohotel-icon-text-wrapper-2 sohohotel-clearfix">
                  <div class="sohohotel-icon-text-block sohohotel-clearfix">
                    <div class="sohohotel-icon">
                      <i class="fa fa-map-marker"></i>
                    </div>
                    <div class="sohohotel-text">
                      <h4>РАСПОЛОЖЕНИЕ</h4>
                      <p>Удобное расположение, позволяющее за 10 минут добраться до города, торгового центра, кинотеатра
                        и супермаркета.</p>
                    </div>
                  </div>
                  <div class="sohohotel-icon-text-block sohohotel-clearfix">
                    <div class="sohohotel-icon">
                      <i class="fa fa fa-bath"></i>
                    </div>
                    <div class="sohohotel-text">
                      <h4>БАНЯ И БАССЕЙН</h4>
                      <p>На территории Виллы есть большой подогреваемый бассейн и настоящая русская баня на дровах.</p>
                    </div>
                  </div>
                  <div class="sohohotel-icon-text-block sohohotel-clearfix">
                    <div class="sohohotel-icon">
                      <i class="fa fa fa-tree"></i>
                    </div>
                    <div class="sohohotel-text">
                      <h4>ИЗЫСКАННЫЙ ИНТЕРЬЕР</h4>
                      <p>Во всех апартаментах нашего комплекса современный дизайнерский ремонт.</p>
                    </div>
                  </div>
                  <div class="sohohotel-icon-text-block sohohotel-clearfix">
                    <div class="sohohotel-icon">
                      <i class="fa fa-home"></i>
                    </div>
                    <div class="sohohotel-text">
                      <h4>УХОЖЕННАЯ ТЕРРИТОРИЯ</h4>
                      <p>Мы очень бережно и внимательно относимся ко всему, что нас окружает, чтобы, приезжая к нам, вы
                        могли наслаждаться красивыми видами.</p>
                    </div>
                  </div>
                </section>
                <section class="sohohotel-icon-text-wrapper-2 sohohotel-clearfix">
                  <div class="sohohotel-icon-text-block sohohotel-clearfix">
                    <div class="sohohotel-icon">
                      <i class="fa fa fa-bed"></i>
                    </div>
                    <div class="sohohotel-text">
                      <h4>ВИЛЛА ПОД КЛЮЧ</h4>
                      <p>Возможность арендовать всю Виллу для проведения любого мероприятия. Вместимость до 30 человек.
                      </p>
                    </div>
                  </div>
                  <div class="sohohotel-icon-text-block sohohotel-clearfix">
                    <div class="sohohotel-icon">
                      <i class="fa fa fa-glass"></i>
                    </div>
                    <div class="sohohotel-text">
                      <h4>ВЫЕЗДНОЕ РЕСТОРАННОЕ ОБСЛУЖИВАНИЕ</h4>
                      <p>Изысканные блюда от шеф-повара для вашего идеального праздника.</p>
                    </div>
                  </div>
                  <div class="sohohotel-icon-text-block sohohotel-clearfix">
                    <div class="sohohotel-icon">
                      <i class="fa fas fa-birthday-cake"></i>
                    </div>
                    <div class="sohohotel-text">
                      <h4>ДРУЖЕБЛЮБНЫЙ ПОДХОД</h4>
                      <p>Мы работаем для Вас и делаем все, чтобы вы возвращались к нам снова.</p>
                    </div>
                  </div>
                  <div class="sohohotel-icon-text-block sohohotel-clearfix">
                    <div class="sohohotel-icon">
                      <i class="fa fa fa-wifi"></i>
                    </div>
                    <div class="sohohotel-text">
                      <h4>ДОСТУП В ИНТЕРНЕТ</h4>
                      <p>Свободная зона Wi-Fi на всей территории гостиничного комплекса.</p>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
        <div class="vc_row wpb_row vc_row-fluid vc_custom_1538019006226">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div class="sohohotel-title2 sohohotel-title-color">
                  <h3>Новости</h3>
                </div>
                <!-- BEGIN .sohohotel-blog-carousel-wrapper -->
                <section class="sohohotel-blog-carousel-wrapper sohohotel-clearfix">

                  <p>No news has been added yet</p>

                  <!-- END .sohohotel-blog-carousel-wrapper -->
                </section>

              </div>
            </div>
          </div>
        </div>

        <!-- END .sohohotel-main-content -->
      </div>

      <!-- END .sohohotel-content-wrapper -->
    </div>
{% endblock %}