{% extends 'base.html' %}
{% block title %}Бассейн{% endblock %}
{% load static %}
{% block content %}
<!-- BEGIN .sohohotel-page-header -->
    <div class="sohohotel-page-header sohohotel-page-header-2">

      <h1>Бассейн</h1>

      <!-- END .sohohotel-page-header -->
    </div>

    <!-- BEGIN .sohohotel-content-wrapper -->
    <div class="sohohotel-content-wrapper sohohotel-clearfix sohohotel-content-wrapper-unboxed-full-width">

      <!-- BEGIN .sohohotel-main-content -->
      <div class="sohohotel-main-content sohohotel-main-content-unboxed-full-width">

        <div class="vc_row wpb_row vc_row-fluid">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <!-- START Slider 1 REVOLUTION SLIDER 6.3.1 -->
                <p class="rs-p-wp-fix"></p>
                <rs-module-wrap id="rev_slider_9_1_wrapper" data-source="gallery"
                  style="background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
                  <rs-module id="rev_slider_9_1" style="" data-version="6.3.1">
                    <rs-slides>
                      <rs-slide data-key="rs-16" data-title="Slide" data-anim="ei:d;eo:d;s:1000;r:0;t:fade;sl:0;">
                        <img src="{% static 'images/pool1_1.jpeg' %}" title="IMG_0048"
                          width="2560" height="1707" class="rev-slidebg" data-no-retina>
                        <!---->
                      </rs-slide>
                      <rs-slide data-key="rs-17" data-title="Slide" data-anim="ei:d;eo:d;s:1000;r:0;t:fade;sl:0;">
                        <img src="{% static 'images/pool1_2.jpeg' %}" title="IMG_0044"
                          width="2560" height="1707" class="rev-slidebg" data-no-retina>
                        <!---->
                      </rs-slide>
                      <rs-slide data-key="rs-18" data-title="Slide" data-anim="ei:d;eo:d;s:1000;r:0;t:fade;sl:0;">
                        <img src="{% static 'images/pool1_3.jpeg' %}" title="IMG_0058"
                          width="2560" height="1707" class="rev-slidebg" data-no-retina>
                        <!---->
                      </rs-slide>
                      <rs-slide data-key="rs-19" data-title="Slide" data-anim="ei:d;eo:d;s:1000;r:0;t:fade;sl:0;">
                        <img src="{% static 'images/pool1_4.jpeg' %}" title="IMG_0059"
                          width="1707" height="2560" class="rev-slidebg" data-no-retina>
                        <!---->
                      </rs-slide>
                      <rs-slide data-key="rs-20" data-title="Slide" data-anim="ei:d;eo:d;s:1000;r:0;t:fade;sl:0;">
                        <img src="{% static 'images/pool1_5.jpeg' %}" title="IMG_0066"
                          width="2560" height="1707" class="rev-slidebg" data-no-retina>
                        <!---->
                      </rs-slide>
                      <rs-slide data-key="rs-21" data-title="Slide" data-anim="ei:d;eo:d;s:1000;r:0;t:fade;sl:0;">
                        <img src="{% static 'images/pool1_6.jpeg' %}" title="IMG_0053"
                          width="1707" height="2560" class="rev-slidebg" data-no-retina>
                        <!---->
                      </rs-slide>
                    </rs-slides>
                  </rs-module>
                  <script type="text/javascript">
                    setREVStartSize({
                      c: 'rev_slider_9_1',
                      rl: [1240, 1024, 778, 480],
                      el: [900],
                      gw: [1240],
                      gh: [900],
                      type: 'standard',
                      justify: '',
                      layout: 'fullwidth',
                      mh: "0"
                    });
                    var revapi9,
                      tpj;
                    function revinit_revslider91() {
                      jQuery(function () {
                        tpj = jQuery;
                        revapi9 = tpj("#rev_slider_9_1");
                        if (revapi9 == undefined || revapi9.revolution == undefined) {
                          revslider_showDoubleJqueryError("rev_slider_9_1");
                        } else {
                          revapi9.revolution({
                            visibilityLevels: "1240,1024,778,480",
                            gridwidth: 1240,
                            gridheight: 900,
                            perspective: 600,
                            perspectiveType: "global",
                            editorheight: "900,768,960,720",
                            responsiveLevels: "1240,1024,778,480",
                            progressBar: {
                              disableProgressBar: true
                            },
                            navigation: {
                              onHoverStop: false
                            },
                            fallbacks: {
                              allowHTML5AutoPlayOnAndroid: true
                            },
                          });
                        }

                      });
                    } // End of RevInitScript
                    var once_revslider91 = false;
                    if (document.readyState === "loading") {
                      document.addEventListener('readystatechange', function () {
                        if ((document.readyState === "interactive" || document.readyState === "complete") && !once_revslider91) {
                          once_revslider91 = true;
                          revinit_revslider91();
                        }
                      });
                    } else {
                      once_revslider91 = true;
                      revinit_revslider91();
                    }
                  </script>
                </rs-module-wrap>
                <!-- END REVOLUTION SLIDER -->
              </div>
            </div>
          </div>
        </div>
        <div class="vc_row wpb_row vc_row-fluid">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div class="wpb_text_column wpb_content_element ">
                  <div class="wpb_wrapper">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="vc_row wpb_row vc_row-fluid">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div class="wpb_text_column wpb_content_element ">
                  <div class="wpb_wrapper">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="vc_row wpb_row vc_row-fluid">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div class="wpb_text_column wpb_content_element ">
                  <div class="wpb_wrapper">
                    <p>
                      Особой гордостью загородного комплекса «Villa23» является открытый 10-метровый бассейн. Круглый
                      год в нем поддерживается максимально комфортная для купания температура &#8212;
                      +27 градусов. Летом гости могут окунуться в атмосферу настоящего морского курорта и забыть о том,
                      что находятся недалеко от города. Чистейшая бирюзовая вода, шезлонги и зонты – все это
                      окружено зеленью и благоуханием уютного сада. Идеальное место, чтобы укрыться от шума
                      привычной жизни и расслабиться с любимой книжкой в руках. Зимой особое удовольствие поплавать в
                      бассейне после посещения нашего банного комплекса.
                      <br />

                      Пользование аквазоной для гостей «Villa23» бесплатное, так же предоставляются полотенца.
                    </p>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="vc_row wpb_row vc_row-fluid">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div class="wpb_text_column wpb_content_element ">
                  <div class="wpb_wrapper">
                    <table style="height: 163px;" width="686">
                      <tbody>
                        <tr>
                          <td data-title="Column 1">
                            <i class="fa fa-thermometer-full"></i>
                            Круглый год +27Cº
                          </td>
                          <td data-title="Column 1">
                            <i class="fa fa-square-o"></i>
                            Длина 10м
                          </td>
                          <td data-title="Column 1">
                            <i class="fa fa-umbrella"></i>
                            Шезлонг с зонтиком
                          </td>
                        </tr>
                        <tr>
                          <td data-title="Column 2">
                            <i class="fa fa-wifi"></i>
                            Wi-Fi
                          </td>
                          <td data-title="Column 2">
                            <i class="fa fa-shower"></i>
                            Душ
                          </td>
                          <td data-title="Column 2">
                            <i class="fa fa-user"></i>
                            Открытая конструкция
                          </td>
                        </tr>
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="vc_row wpb_row vc_row-fluid">
          <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div class="wpb_text_column wpb_content_element ">
                  <div class="wpb_wrapper">
                  </div>
                </div>
                <div class="vc_empty_space" style="height: 15px">
                  <span class="vc_empty_space_inner"></span>
                </div>
                <div class="vc_row wpb_row vc_row-fluid"></div>
                <div class="wpb_column vc_column_container vc_col-sm-12">
                  <div class="vc_column-inner">
                    <div class="wpb_wrapper"></div>
                  </div>
                </div>
                <div class="sohohotel-title3 sohohotel-title-color">
                  <h4>
                    Фотографии
                    <strong>Бассейна</strong>
                  </h4>
                </div>
                <div class="wpb_text_column wpb_content_element ">
                  <div class="wpb_wrapper">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id='gallery-1' class='gallery galleryid-464 gallery-columns-3 gallery-size-thumbnail'>
          <div class='gallery-item'>
            <div class='gallery-icon'>
              <a href="{% static 'images/pool1_1.jpeg' %}"
                data-gal="prettyPhoto[gallery-1]" title="IMG_0070">
                <img src="{% static 'images/pool1_1.jpeg' %}" alt="" />
              </a>
            </div>
          </div>
          <div class='gallery-item'>
            <div class='gallery-icon'>
              <a href="{% static 'images/pool1_2.jpeg' %}"
                data-gal="prettyPhoto[gallery-1]" title="IMG_0065">
                <img src="{% static 'images/pool1_2.jpeg' %}" alt="" />
              </a>
            </div>
          </div>
          <div class='gallery-item'>
            <div class='gallery-icon'>
              <a href="{% static 'images/pool1_3.jpeg' %}"
                data-gal="prettyPhoto[gallery-1]" title="IMG_0054">
                <img src="{% static 'images/pool1_3.jpeg' %}" alt="" />
              </a>
            </div>
          </div>
          <div class='gallery-item'>
            <div class='gallery-icon'>
              <a href="{% static 'images/pool1_4.jpeg' %}"
                data-gal="prettyPhoto[gallery-1]" title="IMG_0058">
                <img src="{% static 'images/pool1_4.jpeg' %}" alt="" />
              </a>
            </div>
          </div>
          <div class='gallery-item'>
            <div class='gallery-icon'>
              <a href="{% static 'images/pool1_5.jpeg' %}"
                data-gal="prettyPhoto[gallery-1]" title="IMG_0059">
                <img src="{% static 'images/pool1_5.jpeg' %}" alt="" />
              </a>
            </div>
          </div>
          <div class='gallery-item'>
            <div class='gallery-icon'>
              <a href="{% static 'images/pool1_6.jpeg' %}"
                data-gal="prettyPhoto[gallery-1]" title="IMG_0048">
                <img src="{% static 'images/pool1_6.jpeg' %}" alt="" />
              </a>
            </div>
          </div>
          <br style='clear: both;' />
        </div>

        <!-- END .sohohotel-main-content -->
      </div>

      <!-- END .sohohotel-content-wrapper -->
    </div>
{% endblock %}