{% extends 'base.html' %}
{% block title %}Территория{% endblock %}
{% load static %}
{% block content %}
<!-- BEGIN .sohohotel-page-header -->
    <div class="sohohotel-page-header sohohotel-page-header-2">

      <h1>Территория</h1>

      <!-- END .sohohotel-page-header -->
    </div>

    <!-- BEGIN .sohohotel-content-wrapper -->
    <div class="sohohotel-content-wrapper sohohotel-clearfix sohohotel-content-wrapper-right-sidebar">

      <!-- BEGIN .sohohotel-main-content -->
      <div class="sohohotel-main-content sohohotel-main-content-right-sidebar">

        <div id='gallery-1' class='gallery galleryid-960 gallery-columns-2 gallery-size-thumbnail'>
          <div class='gallery-item'>
            <div class='gallery-icon'>
              <a href="{% static 'images/territory1_1.jpeg' %}" data-gal="prettyPhoto[gallery-1]"
                title="0Z2A7258">
                <img src="{% static 'images/territory1_1.jpeg' %}" alt="" />
              </a>
            </div>
          </div>
          <div class='gallery-item'>
            <div class='gallery-icon'>
              <a href="{% static 'images/territory1_2.jpeg' %}" data-gal="prettyPhoto[gallery-1]"
                title="0Z2A7357 (1)">
                <img src="{% static 'images/territory1_2.jpeg' %}" alt="" />
              </a>
            </div>
          </div>
          <div class='gallery-item'>
            <div class='gallery-icon'>
              <a href="{% static 'images/territory1_3.jpeg' %}" data-gal="prettyPhoto[gallery-1]"
                title="0Z2A7780">
                <img src="{% static 'images/territory1_3.jpeg' %}" alt="" />
              </a>
            </div>
          </div>
          <div class='gallery-item'>
            <div class='gallery-icon'>
              <a href="{% static 'images/territory1_4.jpeg' %}" data-gal="prettyPhoto[gallery-1]"
                title="0Z2A7813">
                <img src="{% static 'images/territory1_4.jpeg' %}" alt="" />
              </a>
            </div>
          </div>
          <div class='gallery-item'>
            <div class='gallery-icon'>
              <a href="{% static 'images/territory1_5.jpeg' %}" data-gal="prettyPhoto[gallery-1]"
                title="0Z2A9922">
                <img src="{% static 'images/territory1_5.jpeg' %}" alt="" />
              </a>
            </div>
          </div>
          <div class='gallery-item'>
            <div class='gallery-icon'>
              <a href="{% static 'images/territory1_6.jpeg' %}"
                data-gal="prettyPhoto[gallery-1]" title="предпоказ (4)">
                <img src="{% static 'images/territory1_6.jpeg' %}" alt="" />
              </a>
            </div>
          </div>
          <div class='gallery-item'>
            <div class='gallery-icon'>
              <a href="{% static 'images/territory1_7.jpeg' %}" data-gal="prettyPhoto[gallery-1]"
                title="IMG_0010">
                <img src="{% static 'images/territory1_7.jpeg' %}" alt="" />
              </a>
            </div>
          </div>
          <div class='gallery-item'>
            <div class='gallery-icon'>
              <a href="{% static 'images/territory1_8.jpeg' %}" data-gal="prettyPhoto[gallery-1]"
                title="IMG_0016">
                <img src="{% static 'images/territory1_8.jpeg' %}" alt="" />
              </a>
            </div>
          </div>
          <div class='gallery-item'>
            <div class='gallery-icon'>
              <a href="{% static 'images/territory1_9.jpeg' %}" data-gal="prettyPhoto[gallery-1]"
                title="IMG_0032">
                <img src="{% static 'images/territory1_9.jpeg' %}" alt="" />
              </a>
            </div>
          </div>
          <div class='gallery-item'>
            <div class='gallery-icon'>
              <a href="{% static 'images/territory1_10.jpeg' %}" data-gal="prettyPhoto[gallery-1]"
                title="IMG_0101 (1)">
                <img src="{% static 'images/territory1_10.jpeg' %}" alt="" />
              </a>
            </div>
          </div>
          <div class='gallery-item'>
            <div class='gallery-icon'>
              <a href="{% static 'images/territory1_11.jpeg' %}" data-gal="prettyPhoto[gallery-1]"
                title="IMG_0103 (1)">
                <img src="{% static 'images/territory1_11.jpeg' %}" alt="" />
              </a>
            </div>
          </div>
          <div class='gallery-item'>
            <div class='gallery-icon'>
              <a href="{% static 'images/territory1_12.jpeg' %}" data-gal="prettyPhoto[gallery-1]"
                title="IMG_0156 (1)">
                <img src="{% static 'images/territory1_12.jpeg' %}" alt="" />
              </a>
            </div>
          </div>
          <div class='gallery-item'>
            <div class='gallery-icon'>
              <a href="{% static 'images/territory1_13.jpeg' %}" data-gal="prettyPhoto[gallery-1]"
                title="IMG_0409">
                <img src="{% static 'images/territory1_13.jpeg' %}" alt="" />
              </a>
            </div>
          </div>
          <div class='gallery-item'>
            <div class='gallery-icon'>
              <a href="{% static 'images/territory1_14.jpeg' %}" data-gal="prettyPhoto[gallery-1]"
                title="IMG_0417">
                <img src="{% static 'images/territory1_14.jpeg' %}" alt="" />
              </a>
            </div>
          </div>
          <div class='gallery-item'>
            <div class='gallery-icon'>
              <a href="{% static 'images/territory1_15.jpeg' %}" data-gal="prettyPhoto[gallery-1]"
                title="IMG_0420">
                <img src="{% static 'images/territory1_15.jpeg' %}" alt="" />
              </a>
            </div>
          </div>
          <div class='gallery-item'>
            <div class='gallery-icon'>
              <a href="{% static 'images/territory1_16.jpeg' %}" data-gal="prettyPhoto[gallery-1]"
                title="IMG_0474">
                <img src="{% static 'images/territory1_16.jpeg' %}" alt="" />
              </a>
            </div>
          </div>
          <div class='gallery-item'>
            <div class='gallery-icon'>
              <a href="{% static 'images/territory1_17.jpeg' %}" data-gal="prettyPhoto[gallery-1]"
                title="IMG_9897">
                <img src="{% static 'images/territory1_17.jpeg' %}" alt="" />
              </a>
            </div>
          </div>
          <div class='gallery-item'>
            <div class='gallery-icon'>
              <a href="{% static 'images/territory1_18.jpeg' %}" data-gal="prettyPhoto[gallery-1]"
                title="IMG_9902 (1)">
                <img src="{% static 'images/territory1_18.jpeg' %}" alt="" />
              </a>
            </div>
          </div>
          <div class='gallery-item'>
            <div class='gallery-icon'>
              <a href="{% static 'images/territory1_19.jpeg' %}" data-gal="prettyPhoto[gallery-1]"
                title="IMG_9904">
                <img src="{% static 'images/territory1_19.jpeg' %}" alt="" />
              </a>
            </div>
          </div>
          <div class='gallery-item'>
            <div class='gallery-icon'>
              <a href="{% static 'images/territory1_20.jpeg' %}" data-gal="prettyPhoto[gallery-1]"
                title="IMG_9910">
                <img src="{% static 'images/territory1_20.jpeg' %}" alt="" />
              </a>
            </div>
          </div>
          <div class='gallery-item'>
            <div class='gallery-icon'>
              <a href="{% static 'images/territory1_21.jpeg' %}" data-gal="prettyPhoto[gallery-1]"
                title="IMG_9912">
                <img src="{% static 'images/territory1_21.jpeg' %}" alt="" />
              </a>
            </div>
          </div>
          <div class='gallery-item'>
            <div class='gallery-icon'>
              <a href="{% static 'images/territory1_22.jpeg' %}" data-gal="prettyPhoto[gallery-1]"
                title="IMG_9918">
                <img src="{% static 'images/territory1_22.jpeg' %}" alt="" />
              </a>
            </div>
          </div>
          <div class='gallery-item'>
            <div class='gallery-icon'>
              <a href="{% static 'images/territory1_23.jpeg' %}" data-gal="prettyPhoto[gallery-1]"
                title="IMG_9966">
                <img src="{% static 'images/territory1_23.jpeg' %}" alt="" />
              </a>
            </div>
          </div>
          <div class='gallery-item'>
            <div class='gallery-icon'>
              <a href="{% static 'images/territory1_24.jpeg' %}" data-gal="prettyPhoto[gallery-1]"
                title="IMG_9969">
                <img src="{% static 'images/territory1_24.jpeg' %}" alt="" />
              </a>
            </div>
          </div>
          <br style='clear: both;' />
        </div>

        <!-- END .sohohotel-main-content -->
      </div>

        <div id="rev-slider-widget-2"
          class="sohohotel-widget sohohotel-widget-wrapper sohohotel-clearfix widget_revslider">
          <div class="sohohotel-title-block"></div>
        </div>
        <!-- END .sohohotel-sidebar-content -->
      </div>

      <!-- END .sohohotel-content-wrapper -->
    </div>
{% endblock %}